.header__body__loggedin {
    padding: 15px 60px;
    background: linear-gradient(to bottom, black 60%, transparent 100%);
    position: fixed;
    width: 100%;
    z-index: 99;
    &__img {
        width: 130px;
    }
    &__profile__icon {
        height: 32px;
        width: 32px;
        border-radius: 4px;
    }
}
.header__body {
    &__img {
        width: 240px;
    }
}
